<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsls.chapter27.mapper.test2.Test2Mapper">
	<insert id="save" parameterType="com.zsls.chapter27.model.Test2">
		insert into test2(name)
		values(#{name})
	</insert>
</mapper>