
<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>百度语音样例</title>
    <style type="text/css">
        p#title {
            font-size: 25px;
            font-weight: bold;
        }
        p#tips {
            font-size: 20px;
        }
    </style>
</head>

<body>
   <h2>语音识别</h2>
    <p id="tips">按住字母a键进行录音</p>
    <p id="message"></p>
    <script type="text/javascript" src="jquery.min.js">
    </script>
    <script type="text/javascript" src="myrecorder.js"></script>
</body>

</html>
