<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <script type="text/javascript" th:src="@{/js/hello.js}"></script>
</head>
<body>
    <h1 th:text="${desc}">Hello World</h1>
    <h2>======作者信息======</h2>
    <p th:text="${author?.name}"></p>
    <p th:text="${author?.age}"></p>
    <p th:text="${author?.email}"></p>

    <img th:src="@{favicon.ico}"/>

</body>
</html>